/* generals */
body {
    background-color:white;
    padding: 0%;
    margin: 0%;
    padding-inline: 10px;
}
.rfloat{
    float: right;
}
.lfloat{
    float: left;
}

/* navigation */
.hnavlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.hlist {
    float: left;
}

.hlist a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.hlist a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(128, 128, 128);
}

.hlist.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(128, 128, 128);
}

.dropdown:hover .dropdown-content {
    display: block;
}
#hfloat{
    float: right;
}
.active.hlist{
    background-color: black;
}
.active.hlist a{
    color: white;
}